* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  :root {
   --dark-color: #041C32;
   --secondary-color: #04293A;
   --third-color: #064663;
   --light-color: #ECB365;
  }