.message {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.message-top {
  display: flex;
  gap: 1rem;
}

.message-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.message-text {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--third-color);
  max-width: 20rem;
}
.message-bottom {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.message.own {
  align-items: flex-end;
}
.message.own .message-text {
  background-color: var(--light-color);
}
