.topbar-container{
    height:8vh;
    width:100%;
    background-color: #064663;
    display:flex;
    align-items:center;
    position: sticky;
    top: 0;
    gap: 2rem;
    padding: 0 2rem;
}
.logo{
    color: white;
    font-size: 1.5rem;   
    cursor: pointer;
}
.topbar-seachbar{
    width:100%;
    height:2rem;
    background-color: white;
    display:flex;
    align-items:center;
    border-radius:2rem;
}
.topbar-seach-icon{
    font-size: 1.5rem  !important;
    color:#064663;
    margin-left: 0.3rem;
}
.search-input{
    border:none;
    width: 70%;
}
.search-input:focus{
    outline:none;
}
.topbar-left{ 
    flex: 3;
    /* background: red; */
}
.topbar-center{ 
    flex: 5;
    /* background: rgb(136, 62, 62); */
}
.topbar-right{ 
    flex: 4;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    
    /* background: rgb(21, 255, 13); */

}
.preson-container{
    display:flex;
    align-items:center;
    gap: 1rem;
}
.topbar-person-name{
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
}
.topbar-img{
    width: 4rem;
    height:4rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}