.sidebar-container {
  flex: 3;
  height:calc(100vh - 8vh);
  /* background-color:yellow; */
}
.sidebar-content-wrapper{
    padding: 1rem;
    height: 100%;
}
.sidebar-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:0.2rem;
}
.sidebar-li{
    display:flex;
    align-items: center;
    padding: 1rem 0;
    border-radius:7px;
    /* border:1px solid red; */
    cursor:pointer;
    transition:0.7s;

}
.sidebar-icon{
    margin-right: 1rem;
}
.sidebar-li:hover{
    background-color: var(--third-color);
}