.rightbar-container {
  flex: 3;
}
.rightbar-content-wrapper {
  padding: 2rem;
  /* padding-left: 15rem; */
  /* background-color: var(--secondary-color); */
  height: 100%;
}
.rightbar-friends-text {
  background-color: var(--third-color);
  padding: 0.5rem;
  border-radius: 8px;
}
.rightbar-friends-pics {
  padding-top: 2rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}
.rightbar-profile {
  width: 5rem;
}
.rightbar-friends-profile {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.rightbar-friends-profile:hover {
  background-color: var(--third-color);
}
.right-bar-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.3rem;
  background-color: var(--third-color);
  padding: 1rem;
  border-radius: 8px;
}
.right-bar-info-item {
  display: flex;
  gap: 1rem;
}
.right-bar-info-key {
  font-weight: 500;
}
.right-bar-info-value {
  font-weight: 300;
}
